.container {
    height: 100%;
    display: grid;
    grid-gap: 3px;
    grid-template-columns: [main-start]1fr [content-start] 5fr [content-end main-end];
    grid-template-rows: [main-start] 40px [content-start] auto [content-end] 40px [main-end];
}

.header {
    grid-column: main-start / main-end;
    color: white;
}
.menu {
    grid-column:  main-start / content-start;
    color: black;
}
.content {
    grid-column: content-start / content-end;

}
.footer {
    grid-column: main-start / main-end;
    color: white;
}
.container>div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
   
}
html,
body {
    box-sizing: border-box;
    background-color:white;
    height: 100%;
    padding: 10px;
    margin: 0px;
    font: 20px;
}

.container>div:nth-child(1n) {
    background-color: red;
    }

.container>div:nth-child(3n) {
    background-color: white;
}

.container>div:nth-child(2n) {
    background-color: white;
}

.container>div:nth-child(4n) {
    background-color: red;
}
h2 {
font-size: xx-large;
font-style: normal;

}
@media screen and (max-width: 992px) {
    body {
        background-color: red;
        color: black;
    }
}

@media screen and (max-width: 600px) {
    body {
        background-color: rgb(6, 2, 253);
        color: black;
    }
}