li {
    font-size:  12px;
    font-weight: 100;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 0.5%;
    list-style: none;
    word-spacing: 0.5px;
    text-align: richt;
    box-sizing: 20px;
    
}
h1 {
    font-size: 30px;
}
.container {
    border-style: solid black ;
    border: 2px;
    column-rule-width: small;
    padding: 3rem;
    background-color: white;
}
@media screen and (max-width: 992px) {
    body {
        background-color: red;
        color: white;
    }
}

@media screen and (max-width: 600px) {
    body {
        background-color: rgb(6, 2, 253);
        color: white;
    }
}